/* livvic-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  display: flex;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  flex-direction: column;
  display: flex;
}

main {
  flex-grow: 1;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.global {
  background-image: url(../img/Group\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sitenav-link {
  font-family: "Livvic";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.header {
  display: flex;
  margin-top: 73px;
  margin-bottom: 129px;
  margin-left: 165px;
}
.sitenav-list {
  display: flex;
  gap: 40px;
  margin-right: 577px;
}

.logo {
  margin-right: 80px;
}
.header-link {
  font-family: "Livvic";
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  border: 2px solid #fff;
  border-radius: 250px;
  padding: 9px 33px 11px 32px;
}

.hero-title {
  color: #fff;
  font-family: "Livvic";
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  margin-right: 30px;
  margin-left: 165px;
}

.talant {
  color: #f67e7e;
  font-family: "Livvic";
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.hero {
  display: flex;
  margin-bottom: 250px;
}
.hero-p {
  font-family: "Livvic";
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  width: 445px;
  height: 112px;
  color: #ffffff;
  margin-top: 79px;
}
